body{
    width: 99%;
    text-align: center;
    background-image: url("../photo/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Sansita Swashed', cursive;

}
.c{
    height: 50%;
    width: auto;
}
h2{
    color: white;
    font-size: 2.5rem;
    text-decoration: underline;
}
.map1{
    margin-left: 1%;
    width: 49%;
    height: 500px;
    float: left;
    border-radius: 25px; box-shadow:  0 0 10px 5px rgba(255, 232, 189, 0.6);
}
.wid{
    width: 50%;
    margin: auto;border-radius: 15px;
    padding-bottom: 1%;
    background-color: white;
    
}
.mt{
    margin-top: 1%;
}
.mb{
    margin-bottom: 1%;
}
.leftFloat{
    margin: auto;
    display: block;
    width: 10%;
    text-align: left;
}

.map2{
    margin-right: 1%;
    width: 49%;
    height: 500px;
    border-radius: 25px; box-shadow:  0 0 10px 5px rgba(255, 232, 189, 0.6);
}
.customLabel{
    display: block;
}

section{
   text-align: center;
}

input{
    padding: 0.5%;
    border-radius: 25px;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #555555;
    font-family: 'Sansita Swashed', cursive;

  }